@use '../../sass/variables' as gv;

.sequence {
    position: absolute;
    top: 50%;
    left: 45%;
    text-align: center;
    color: gv.$yellow-50;
    h1 {
        font-size: 5rem;
        font-weight: 200;
    }
}