@use '../../sass/variables' as gv;

.overlayCard {
    position: fixed;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:gv.$white;
    min-width: 20vw;
    min-height: 10vh;
    z-index:99999;
    border-radius: 1.4rem;
    transition: all 0.5s ease-in-out;
    &__close {
        cursor: pointer;
        fill:gv.$yellow-50;
        position: absolute;
        right:1.6rem;
        top:1.6rem;
        z-index: 99999;
    }
}