@use '../../sass/variables' as gv;

.chatTitle {
    width: 28rem;
    margin: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gv.$yellow-50;
    border-radius: 1.6rem;
    padding: 0.2rem 0.5rem;   
    font-size: 1.4rem;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
    &:hover {
        background-color: rgba(gv.$yellow-50, 0.5);
    }
    &:hover svg{
        fill:gv.$light-gray;
    }
    &__type {
        font-size: 1.2rem;
    }
    &__edit, &__delete {
        margin-left:1rem;
        cursor: pointer;
        svg {
            width:1.2rem;
            height: 1.2rem;
            fill: gv.$yellow-50;
        }
    }
    &__drag {
        position: relative;
        background-color:gv.$white;
        color:rgba(gv.$light-black, 0.5);
        border:1px dashed gv.$yellow-50;
        &:hover {
            background-color: gv.$white;
        }
        & > p,
        & > span, 
        & > div {
            visibility: hidden;
        }
    }
}