@use '../../sass/variables' as gv;

.chatTitles {
    position: relative;
    min-height: 100vh;
    width:30rem;
    background-color: gv.$light-gray-2nd;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    &__search {
        width: 28rem;
        position: relative;
        margin: 3rem 1rem;
        input {
            all: unset;
            width: 85%;
            border: 1px solid gv.$yellow-50;
            border-radius: 1.5rem;
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            font-weight: 300;
        }
        button {
            all: unset;
            width: 6rem;
            border: 1px solid gv.$yellow-50;
            border-radius: 1.5rem;
            color: gv.$yellow-50;
            position: absolute;
            right: 2rem;
            padding: 0.25rem 1rem;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(gv.$yellow-50, 0.1);
            }
        }
    }
    &__order {
        all: unset;
        font-size: 1.3rem;
        border: 1px dashed gv.$yellow-50;
        padding: 0.1rem 1rem;
        border-radius: .4rem;
        color: gv.$yellow-50;
        float: right;
        margin: 0 1rem 1rem 0;
        cursor: pointer;
        visibility: hidden;
        &:hover {
            background-color: rgba(gv.$yellow-50, 0.1);
        }
    }
    &__error {
        text-align: center;
        color: gv.$yellow-50;
        font-size: 3rem;
        font-weight: 200;
    }
}