@use '../../sass/variables' as gv;

.chatTitles {
    min-height: 100vh;
    width:30rem;
    background-color: gv.$light-gray-2nd;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.2);
    &__search {
        width: 28rem;
        position: relative;
        margin: 3rem 1rem;
        input {
            all: unset;
            width: 85%;
            border: 1px solid gv.$yellow-50;
            border-radius: 1.5rem;
            padding: 0.5rem 1rem;
            font-size: 1.3rem;
            font-weight: 300;
        }
        button {
            all: unset;
            width: 6rem;
            border: 1px solid gv.$yellow-50;
            border-radius: 1.5rem;
            color: gv.$yellow-50;
            position: absolute;
            right: 2rem;
            padding: 0.25rem 1rem;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(gv.$yellow-50, 0.1);
            }
        }
    }
}