@use '../../sass/variables' as gv;

.dropdown {
    position: relative;
    &__input {
        all: unset;
        border: 1px solid gv.$yellow-50;
        border-radius: 1.4rem;
        width: 100%;
        padding: 0.2rem 1rem;
        cursor: default;
        &::placeholder {
            font-size: 1.35rem;
            position: relative;
            left:1.5rem;
        }
    }
    &__icon {
        position: absolute;
        right: -1.2rem;
        top: 0.8rem;
        fill: gv.$yellow-50;
        cursor: pointer;
    }
    &__wrapper {
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        position: absolute;
        z-index: 999999;
        width: 100%;
    }
    &__list {
    width: 92%;
    position: relative;
    left: 1.4rem;
    border:1px solid gv.$yellow-50;
    border-bottom-left-radius: 1.4rem;
    border-bottom-right-radius: 1.4rem;
    overflow: hidden;
    background-color: gv.$white;
    font-size: 1.4rem;
    li {
        padding: 0.5rem 0.8rem;
        color: #333;
        cursor: pointer;
        &:not(:last-of-type) {
            border-bottom:1px dashed gv.$yellow-50;
        }
        &:hover {
            background-color: gv.$yellow-50;
        }
    }
    }
}