@use '../../sass/variables' as gv;

.navbar{ 
    height: 7rem;
    background-color: gv.$white;
    padding-top:1rem;
    &__ham {
        position: absolute;
        left: 1rem;
        top: 2rem;
        cursor: pointer;
        color: gv.$yellow-50;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__search {
        width:40rem;
        position: relative;
        display: flex;
        justify-content: center;
        form {
            width:100%
        }
        input {
            all:unset;
            width:90%;
            border:1px solid gv.$yellow-50;
            border-radius: 1.5rem;
            padding:0.5rem 1rem;
            font-size: 1.6rem;
        }
        button {
            all: unset;
            width: 17%;
            border: 1px solid gv.$yellow-50;
            border-radius: 1.5rem;
            color: gv.$yellow-50;
            position: absolute;
            right: 1.75rem;
            padding: 0.5rem 1rem;
            text-align: center;
            cursor: pointer;
            &:hover {
                background-color: rgba(gv.$yellow-50, 0.1);
            }
        }
    }
    &__channel {
        display: flex;
        align-items: center;
        img {
            width:3rem;
            height: 3rem;
            object-fit: cover;
            border-radius: 50%;
        }
        p {
            font-size: 1.8rem;
            font-weight: 500;
            font-family: gv.$second-font;
            margin-right: 1rem;
            transform: translateY(2px);
        }
    }
    &__icon {
        width:5rem;
        height: 5rem;
        fill:gv.$yellow-50;
        cursor: pointer;
    }
    &__avatar {
        width:5rem;
        position: relative;
        img {
            cursor: pointer;
            width:100%;
            clip-path: circle();
        }
    }
    &__list {
        position: absolute;
        left: -10rem;
        background-color: gv.$white;
        width: 15rem;
        padding-left: 0;
        li {
            padding:0.5rem;
            color:gv.$light-black;
            font-size: 1.7rem;
            font-style: italic;
            font-weight: 300;
            cursor: pointer;
            &:hover {
                background-color: gv.$yellow-50;
                font-style: normal;
                font-weight: 500;
            }
        }
        a {
            color:gv.$light-black;
        }
    }
}